@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  display: none;
}

h4 {
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}

.nums {
  color: #3498db;
  font-size: 50px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 50px;
}

.nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }

}

.nums .in {
  animation: goIn 0.5s ease;
}

.nums .out {
  animation: goOut 0.5s ease;
}

.final {
  display: none;
  text-align: center;
}

@keyframes big {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.final.show {
  display: block;
  animation: big 0.5s ease;
}

#replay {
  background-color: #3498db;
  color: #ffffff;
  line-height: 1.8;
  border: 0;
  border-radius: 6px;
}

#replay span {
  transition: all .5s ease;
  position: relative;
}

#replay span::after {
  content: '\00bb';
  position: absolute;
  top: -4px;
  right: -20px;
  transition: all .8s ease;
}

#replay:hover span {
  padding-right: 20px;
}

#replay:hover span::after {
  right: 0;
}